#addNewItem{
    /*height: 36px !important;*/
    /*width: 76px !important;*/
}
.breadcrumbs.right-tagger{
    margin-right: 25px;
}
.tfoot-td{
    padding: 0px 5px !important;
}
.actions.table-td{
    padding:0px !important;
    padding-left: 5px !important;
}
.allocationTital{
    padding:0px;
    margin-bottom: 5px;
}