#addNewItem{
    /*height: 36px !important;*/
    /*width: 76px !important;*/
}
.breadcrumbs.right-tagger{
    margin-right: 25px;
}
.tfoot-td{
    padding: 0px 5px !important;
    text-align: left !important;
}
#addNewItem i{
    margin-left: 3px !important;
}
.actions.table-td{
    padding:0px !important;
    padding-left: 5px !important;
}
.allocationTital{
    padding:0px 0px 0px 5px;
    margin-bottom: 5px;
}
.table-data{
    width: 100% !important;
}
.radio-content{
    margin-top: 7px !important;
    padding-left: 0px !important;
}
.iconShowContent{
    padding-left: 0px !important;
}
.iconShowContent i{
    margin-top: 10px !important;
}
.com-detail-item .title{
    font-size: 15px !important;
    color: black !important;
}
.com-detail-item span{
     font-size: 15px !important;
     color: #999999 !important;
 }
.com-detail-item.inline{
    display:inline-block !important;
    width: 30%;
}

/* Icon edit */
@-webkit-keyframes hvr-icon-edit {
    0% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    50% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

@keyframes hvr-icon-edit {
    0% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    50% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

@-webkit-keyframes hvr-icon-edit-float {
    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

@keyframes hvr-icon-edit-float {
    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

.hvr-icon-edit {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-icon-edit:before {
    content: "\f040";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.hvr-icon-edit:hover:before, .hvr-icon-edit:focus:before, .hvr-icon-edit:active:before {
    -webkit-animation-name: hvr-icon-edit-float, hvr-icon-edit;
    animation-name: hvr-icon-edit-float, hvr-icon-edit;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

[class^="hvr-"] {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    background: #e1e1e1;
    color: #666;
    cursor: pointer;
    line-height: 1.2em;
    margin: .4em;
    padding: 1em;
    text-decoration: none;
    /* Prevent highlight colour when element is tapped */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.flow-detial-action{
    visibility:hidden;
    float: right;
}
.flow-detial-action span{
    background-color: white;
    margin: 0px;
}
.flow-detial-item{
    float: left;
}

/*.authority-action{*/
    /*display: none;*/
/*}*/